html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
header {
  color: #fff;
}

content {
  margin-top:10px;
}

footer {
  background:#111111;
}

header {
  width: 100%;
  min-height: 150px;
  background-color: #111111;
  background-position: center;
  background-size: cover;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


header .container{
  padding-top:50px;
}

.carousel a:hover, header a:hover {
  color : rgba(255, 175, 175, 1)
}

.carousel a, header a {
  color: #fff;
}

@media (min-width: 800px) {
  #site_nav { 
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
    background:rgba(151, 0, 0, .3)
  }
}

.carousel {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
}

.cropped-circle {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
  border-radius: 200px;
  width: 200px;
  height: 200px;
}

.inverse-row{
  color:#FFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.navbar { 
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030; text-shadow: 0 1px 2px rgba(0, 0, 0, .6); background:rgba(151, 0, 0, .8); margin-bottom:0 ;border-bottom:none; border-radius:0; border: 1px solid transparent }
.navbar .nav > li > a, .navbar .nav > li > a:visited {color: #FFF;}
.navbar .nav > li > a:hover {color: rgba(255, 175, 175, 1); background-color: rgba(75, 0, 0, .3);}
.navbar .nav .active > a,.navbar .nav .active > a:hover {color:    #fff;background-color: #380000;}
.navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}
.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {color: #fff;background-color: rgba(75, 0, 0, .3);}
.navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar    .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar .navbar-brand {color:#fff;}
.navbar .dropdown-menu {background-color:rgba(151, 0, 0, .3);}
.navbar .dropdown-menu > li > a {color:#fff; text-shadow: 0 1px 2px rgba(0, 0, 0, .6);}
.navbar .dropdown-menu a:hover {background-color:rgba(151, 0, 0, .3); color:#fff;}
.navbar .navbar-brand:hover {color:rgba(255, 224, 224, 1);}
