Django==1.6.5
Pillow==2.5.2
South==0.8.4
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-bootstrap3==4.4.1
django-model-utils==2.2
django-photologue==2.8.2
django-sortedm2m==0.7.0
django-toolbelt==0.0.1
gunicorn==19.0.0
numpy==1.8.2
psycopg2==2.5.2
six==1.7.3
static3==0.5.1
wsgiref==0.1.2
