{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <h1>
        Add Alumni Event
      </h1>
      <h3>Gather other alumni to your event!</h3>
    </div>
  </header>  
{% endblock %}

{% block content %}
	<div class="container" style="min-height:400px">
		<div class="col-md-4">
		<form action="post">
		<h2>{% bootstrap_field form.title %}</h2>
		{% bootstrap_field form.venue %}
		{% bootstrap_field form.date %}
		{% bootstrap_field form.time %}
		<p>
			{% bootstrap_field form.description %}
		</p>
		<button class="btn btn-primary">Submit</button>
		<a href="/events/upcoming" class="btn btn-default">&laquo; Back to events</a>
		</form>
		</div>
	</div>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	$('#rsvp').click(function(){
		$.ajax({
			type : 'post',
			url  : '/events/rsvp',
			data : {'id' : {{ user.id }},
					'event' : {{ event.id }},
					'csrftoken' : csrftoken
					},
			success : function(data){
				$('#rsvp').removeClass('btn-primary')
				$('#rsvp').addClass('btn-success')
				$('#rsvp').html('Reserved')
				
				alert('OK. Reserved')
				}
			})
	})
	</script>
{% endblock scripts %}