{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <h1>
        Update Alumni Event
      </h1>
      <h3>Tailor your alumni event.</h3>
    </div>
  </header>  
{% endblock %}

{% block content %}
	<div class="container" style="min-height:400px">
		<div class="col-md-4">
		<form method="POST" role="form">
			{% csrf_token %}
		{% bootstrap_form form %}
		<button class="btn btn-primary">Submit</button>
		<a href="/events/upcoming" class="btn btn-default">&laquo; Back to events</a>
		</form>
		</div>
	</div>
{% endblock content %}
