{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <h1>
        Alumni Events
      </h1>
      <h3>From the simplest to the grandest, you're invited.</h3>
    </div>
  </header>  
{% endblock %}

{% block content %}
	<div class="container" style="min-height:400px">
		<h2>{{ event.title }}</h2>
		<h4>
			<small>
			<strong>{{ event.venue }}</strong>;
			<strong>{{ event.date }}</strong>
			{% if event.time %}
				at {{ event.time | naturaltime }}
			{% else %}
				(No set time)
			{% endif %}
			</small>
		</h4>
		<p>
			{{ event.description }}
		</p>
		<h5>
			{{ attendance }} alumni attending this event.
		</h5>
		{% if user.is_authenticated %}
			{% if attending %}
			You are attending this event.
			{% else %}
			<button id="rsvp" data-loading-text="Processing..." class="btn btn-primary" data-toggle="modal" data-target="#modal_alert">RSVP</button>
			{% endif %}
			{% if not attendance %}
				Be the first!
			{% endif %}

		{% endif %}
		<br>
		<br>
		<a href="/events">&laquo; Back to events</a>
		<div class="modal fade in" id="modal_alert" tabindex="-1" role="dialog"  aria-hidden="true">
		  <div class="modal-dialog modal-sm">
		    <div class="modal-content">
		    	<div class="modal-header" >
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h5 class="modal-title" style="color:#111111" >RSVP</h5>
			      </div>
		    	<div class="modal-body">
		    		<span id="message">Processing your request</span>
		    	</div>
		    </div>
		  </div>
		</div>
		</div>
	
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	$('#rsvp').click(function(){
		$.ajax({
			type : 'post',
			url  : '/events/rsvp',
			data : {'id' : {{ user.id }},
					'event' : {{ event.id }},
					'csrftoken' : csrftoken
					},
			success : function(data){
				$('#message').html(data)
				$('#rsvp').removeClass('btn-primary')
				$('#rsvp').addClass('btn-success')
				$('#rsvp').addClass('disabled')
				$('#rsvp').html('Reserved')
				},
			error : function(data){
				$('#message').html(data)
			}
			})
	})
	</script>
{% endblock scripts %}