{% extends 'base.html' %}
{% load webdesign %}
{% load staticfiles %}

{% block header %}
    <div class="carousel slide" id="home_carousel" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#home_carousel" data-slide-to="0"></li>
        <li data-target="#home_carousel" data-slide-to="1"></li>
        <li data-target="#home_carousel" data-slide-to="2"></li>
      </ol>
      <!--Slides-->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'images/slide1.jpg' %}"/>
          <div class="carousel-caption">
            {% if user.is_authenticated %}
              <h1>Got any comments?</h1>
              <h4>Tell us about it.</h4>
              <a href="#" class="btn btn-danger">Send us an email</a> and we'll make sure we consider it<br>
              Meanwhile, we recommend you <a style="text-decoration: underline" href="#">read more about this project.</a>
            {% else %}
              <h1>Welcome Home!</h1>
              <h4>We've been waiting for you.</h4>
              <a href="/signup" class="btn btn-danger">Sign Up</a> using your Alumni ID or <a style="text-decoration: underline" href="/login">Sign In Here</a><br>
              No Alumni ID yet? <a style="text-decoration: underline" href="/profiles/request">Get It Here</a>
            {% endif %}
          </div>
        </div>
        <div class="item">
          <img src="{% static 'images/slide2.jpg' %}"/>
          <div class="carousel-caption">
            <h1>Slide 2</h1>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'images/slide1.jpg' %}"/>
          <div class="carousel-caption">
            <h1>Slide 3</h1>
          </div>
        </div>
      </div>
      <!--Controls-->
      <a class="left carousel-control" href="#home_carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#home_carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  {% endblock header %}

  {% block content %}
    <div class="container">
      <div class="row">
      	<div class="col-md-4">
    		<h3>Alumni News</h3>
    		{% for article in articles %}
          <p>
            <a href="/news/read/{{ article.id }}" >
            {{ article.title | truncatechars:54 }}
            </a>          
          <p>
        {% endfor %}
    		<a href='/news'>Read more</a>
      	</div>
      	<div class="col-md-4">
      			<h3>Alumni Events</h3>
      		<table class="table table-condensed">
      			
             {% for event in events %}
              <tr>
      				<td><a href="/events/details/{{event.id}}">{{event.title}}</a></td>
      				<td>{{event.date}}</td>
              </tr>
             {% endfor %}
      			
      		</table>
      	</div>
      	<div class="col-lg-4"  style="text-align:center">
      		<img src="{% static 'images/img-square1.jpg' %}" class="cropped-circle">
      		<br><br>
      		<strong>Alumni Photo Gallery</strong>
        </div>
      </div>
    </div>
    <br>
    <div class="inverse-row" style="background-image:url({% static 'images/sample2.jpg' %})">
      <div class="container">
        <h1>Connect to the Alumni Community</h1>
        {% lorem 3 p %}
      </div>
    </div>
    <br>
    <div class="container" style="text-align:center">
      <div class="col-lg-4">
        <img src="{% static 'images/img-square1.jpg' %}" class="cropped-circle">
          <br><br>
          <strong>Alumni Photo Gallery</strong>
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/img-square1.jpg' %}" class="cropped-circle">
          <br><br>
          <strong>Alumni Photo Gallery</strong>
      </div>
      <div class="col-md-4">
        <img src="{% static 'images/img-square1.jpg' %}" class="cropped-circle">
          <br><br>
          <strong>Alumni Photo Gallery</strong>
      </div>
    </div>
  {% endblock content %}