<div class="modal fade" id="profile_preview_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" id="profile_preview">
  <div class="modal-content">
  <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4>{{ profile.last_name | upper }},&nbsp;{{ profile.first_name }}&nbsp;{{ profile.middle_name }}</h4>
  </div>
  <div class="modal-body">
    <div style="text-align:center">  
      <img src="{{ profile.pic }}" height="80px" class="profile-thumb"/> 
      <h4>{{ profile.first_name }}&nbsp;{{ profile.middle_name|slice:":1" }}.&nbsp;{{ profile.last_name | title }}</h4><br>
      {% for grad in grads %}
        <strong>{{ grad.program }}</strong><br>
        {{ grad.month }}&nbsp;{{grad.year}},&nbsp;
        {{ grad.college }}<br>
        {{ grad.college.campus }}
      {% endfor %}
      <br>
      <strong>Birthdate: </strong>
        {{ profile.birthdate }}<br>
      <strong>Gender: </strong>
        {{ profile.gender }}<br>
      <strong>Civil Status: </strong>
        {{ profile.civil_status }}<br>
      <strong>Citizenship </strong>
        {{ profile.citizenship }}<br>
      <strong>Tribe: </strong>
        {{ profile.tribe }}<br>
      <strong>Religion: </strong>
        {{ profile.religion }}<br>
        <strong>Hometown: </strong>
        {{ profile.hometown.city }},&nbsp;
        {{ profile.hometown.province }}<br>
        <strong>Current Residence:<br></strong>
        <div style="margin-left:10px">
        {% if profile.residence.street %}
          {{ profile.residence.street }},&nbsp;
        {% endif %}
        {% if profile.residence.barangay %}
          {{ profile.residence.barangay }}<br>
        {% endif %}
        {{ profile.residence.zip }}
        {{ profile.residence.city }},&nbsp;
        {{ profile.residence.province }}
        </div>
    </div>
  </div>
  </div>
  </div>
</div>