<div class="modal fade" id="profile_preview_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="width: 360px">
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <form method="get" id="edit" action="/admin/profiles/details">
        <input type="hidden" id="alumni_id" name="id" value="{{profile.alumni_id}}"/>
    </form>
    <form method="post" id="approve" action="/admin/profiles/approve">
        <input type="hidden" id="alumni_id" name="id" value="{{profile.alumni_id}}"/>
        <input type="hidden" id="approval" name="approve" value="True">
    </form>
    <h4>
      {{ profile.last_name | upper }},&nbsp;{{ profile.first_name }}&nbsp;{{ profile.middle_name }}   

      {% if user.is_authenticated and user.is_staff %}
      <small>|&nbsp;
          <a style="cursor:pointer" href="javascript:{}" onclick="$('#edit').submit()">Edit</a>
      </small>
      {% endif %}
    </h4>
    
  </div>
  <div class="modal-body">
    <div style="text-align:center">  
      <img src="{{ profile.pic }}" height="80px" class="profile-thumb"/> 
      <h4>{{ profile.first_name }}&nbsp;{{ profile.middle_name|slice:":1" }}.&nbsp;{{ profile.last_name | title }}</h4>
      {% if user.is_staff %}
        <h5 id="alumni_id">{{ profile.alumni_id }}</h5>
      {% endif %}
      {% if user.is_authenticated and user.is_staff %}
        {% if profile.is_active %}
          <button class="btn btn-success btn-xs" data-load-text="Deactivating...">Active</button><br>
        {% else %}
          <button id="activate" class="btn btn-danger btn-xs" data-loading-text="Activating...">Inactive</button><br>
        {% endif %}
      {% endif %}
      <br>
      {% for grad in grads %}
        <strong>{{ grad.program }}</strong><br>
        {{ grad.month }}&nbsp;{{grad.year}},&nbsp;
        {{ grad.college }}<br>
        {{ grad.college.campus }}
      {% endfor %}
      <br>
      <strong>Birthdate: </strong>
        {{ profile.birthdate }}<br>
      <strong>Gender: </strong>
        {{ profile.gender }}<br>
    {% if user.is_staff %}
      <strong>Civil Status: </strong>
        {{ profile.civil_status }}<br>
      <strong>Citizenship </strong>
        {{ profile.citizenship }}<br>
      <strong>Tribe: </strong>
        {{ profile.tribe }}<br>
      <strong>Religion: </strong>
        {{ profile.religion }}<br>
        <strong>Hometown: </strong>
        {{ profile.hometown.city }},&nbsp;
        {{ profile.hometown.province }}<br>
        <strong>Current Residence:<br></strong>
        <div style="margin-left:10px">
        {% if profile.residence.street %}
          {{ profile.residence.street }},&nbsp;
        {% endif %}
        {% if profile.residence.barangay %}
          {{ profile.residence.barangay }}<br>
        {% endif %}
        {{ profile.residence.zip }}
        {{ profile.residence.city }},&nbsp;
        {{ profile.residence.province }}
        </div>
    {% else %}
      <a href={% url 'profile-page' slug=profile.alumni_id|urlencode %}>View Full Profile</a>
    {% endif %}
    </div>
  </div>
  </div>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#activate').click(function(){
      $(this).button('loading')
      var id = parseInt($('#alumni_id').text())
      $.ajax({
        type : 'post',
        data : {id:id, csrfmiddlewaretoken:csrftoken},
        url : '/accounts/activate',
        success:  function(data){
            $('#activate').html(data)
            if (data == 'Active')
              $('#activate').addClass('btn-success')
            else $('#activate').addClass('btn-danger')
          },
        error: function(data){
            $('#activate').addClass('btn-danger')
            $('#activate').html('Error Performing Action')
          }
      }).always(
         $('#activate').button('reset')
        );
  })
  })
  </script>