{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load webdesign %}

{% block header %}
	<header style="background: url({% static 'images/slide1.jpg' %})">
		<div class="container">
			{% if user.is_authenticated %}
			{% include 'min_search.html' %}
			{% endif %}
			<h1>
				Alumni Directory
			</h1>
			<h4>
				The multitude of MSU Alumni
			</h4>
		</div>
	</header>
{% endblock header %}

{% block content %}
	<div class="container" style="min-height:475px">
		{% if user.is_authenticated %}
			<div class="col-md-3">
			<h3>{% lorem 4 w %}</h3>
			{% lorem 1 p %}
			<a href="/profiles/advanced">Do an advanced search.</a>
			</div>
			<div class="col-md-6">
			{% include 'results_list.html' %}
			</div>
			<div class="col-md-3">
			<h4>News Updates</h4>
				<small>{% lorem 24 w %}</small>
			<hr></hr>
			<h4>Twitter Updates</h4>
				<small>{% lorem 8 w %}</small>
			</div>
		{% else %}
			<div class="col-md-4">
			<h4>Please sign in to view the Alumni Directory</h4>
			{% lorem 2 p %}
			</div>
		{% endif %}
	</div>
{% endblock content %}

{% block scripts %}
	<script type="text/javascript" src={% static 'js/simple_search.js' %}></script>
{% endblock scripts %}