{% extends 'admin/profiles_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
  Profiles - MSU Alumni Admin
{% endblock title %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <img src="{% static 'images/cap.png' %}" height="75px" style="float:left; margin-right:8px; margin-top:24px"/>
      <h1>
        Alumni Profile Requests
      </h1>

    </div>
  </header>
{% endblock header %}
{% block side_nav %}
  <li class="active"><a href="/admin/profiles/requests">Requests</a></li>
  <li><a href="/admin/profiles">Profiles</a></li>
{% endblock side_nav %}

{% block main_pane %}
  {% if object_list %}
    <div class="progress" style="display:none">
      <div id="bar" class="progress-bar progress-bar-striped active" role="progressbar" data-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
      </div>
    </div>
    {% include 'profiles/approval_actions.html' %}  
    <table class="table table-hover">
      <thead>
        <th width="20px"><input type="checkbox" id="check-all"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Degree, Year</th>
        <th>Birthdate</th>
        <th>Campus</th>
        <th>Status</th>
      </thead>
    {% for applicant in object_list %}
      <tr id="{{ applicant.id }}">
      <td><input type="checkbox" class="selector" data-id={{ applicant.id }}></td>
      <td data-toggle="modal" data-target="#photo_{{applicant.id}}">{{ applicant }} </td>
      <td>{{ applicant.email }}</td>
      <td>
        {{ applicant.program }},&nbsp;{{ applicant.year }}
      </td>
      <td>
        {{ applicant.birthdate }}
      </td>
      <td>
        {{ applicant.campus }}
      </td>
      <td>
        {% if applicant.status == 'P' %}
          <label class="label label-warning">Pending</label>
        {% elif applicant.status == 'V'  %}
          <label class="label label-success">Verified</label>
        {% endif %}
      </td>
      <div class="modal fade in" id="photo_{{applicant.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" style="color:#111111" >{{applicant.first_name}} {{applicant.middle_name}} {{applicant.last_name}}</h5>
              </div>
            <div class="modal-body">
                <img src="/media/{{applicant.photo}}" width="100%">

            </div>
          </div>
        </div>
      </div>
      </tr>
    {% endfor %}
    </table>
    
    <div id="profile"></div>
  {% else %}
    <div class="jumbotron">
      <h2>There are no requests to approve.</h2>
      <h2><small>Check again later.</small></h2>
    </div>
  {% endif %}
{% endblock main_pane %}

{% block scripts %}
  <script src={% static 'js/requests.js' %} type="text/javascript"></script>
  <script src={% static 'js/checkboxes.js' %} type="text/javascript"></script>
{% endblock scripts %}