{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
MSU Alumni Web Portal - Update Profile
{% endblock %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <h3>{{ alum.last_name|upper }},&nbsp;{{ alum.first_name }}&nbsp;({{ alum.middle_name }})</h3>
    </div>
  </header>
{% endblock header %}

{% block content %}
  <div class="content-fluid" style="min-height:480px">
  <div class="col-md-3 center-block" style="text-align:center">
    <img src={{ alum.pic.url }} height="80px" class="profile-thumb"/> 
    <h4>{{ alum.last_name|upper }},&nbsp;{{ alum.first_name }}&nbsp;({{ alum.middle_name }})</h4>
    <p>{{ alum.alumni_id }}</p>    
  </div>
  <div class="col-sm-6">
    <form method="POST" autocomplete="on" id="info_form" style="margin-top:10px">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="hidden" name="id" value="{{alum.alumni_id}}">
      <button id="save" data-loading-text="Saving Details..." style="width:100%" class="btn btn-danger">Save</button>
    </form>
  </div>  
  </div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

  $('#business_ok').on('click', function(){
    
    $('#business_form').validate({
      errorClass:'text-danger',
      errorElement:'span'
    });
    if ($('#business_form').valid()){
      alert($.cookie("csrfmiddlewaretoken"))
      $(this).button('loading')
      $.post(
        'save_business', 
        {'business' : $('#business_form').serialize(),
        'id' : {{ alum.alumni_id }},
        'csrfmiddlewaretoken' : csrftoken},
        function(msg){
          $('#business_modal').modal('hide')
          $('#message').html(msg)
          $('.alert').removeClass('hidden')
          location.reload()
        }
      ).always(
        $(this).button('reset')
      );
    }
    else alert('Oops!') 
  });
  
  $('#residence_ok').on('click', function(){
    
    $('#residence_form').validate({
      errorClass:'text-danger',
      errorElement:'span'
    });
    if ($('#residence_form').valid()){
      $(this).button('loading')
      $.post(
        'save_residence', 
        {'residence' : $('#residence_form').serialize(),
        'id' : {{ alum.alumni_id }},
        'csrfmiddlewaretoken' : csrftoken},
        function(msg){
          $('#residence_modal').modal('hide')
          $('#message').html(msg)
          location.reload()
        }
      ).always(
        $(this).button('reset')
      );
    }
    else alert('Oops!') 
  });

  $('#hometown_ok').on('click', function(){
    
    $('#hometown_form').validate({
      errorClass:'text-danger',
      errorElement:'span'
    });
    if ($('#hometown_form').valid()){
      $(this).button('loading')
      $.post(
        'save_hometown', 
        {'hometown' : $('#hometown_form').serialize(),
        'id' : {{ alum.alumni_id }},
        'csrfmiddlewaretoken' : csrftoken},
        function(msg){
          $('#hometown_modal').modal('hide')
          $('#message').html(msg)
          $('.alert').removeClass('hidden')
          location.reload()
        }
      ).always(
        $(this).button('reset')
      );
    }
    else alert('Oops!') 
  });
  $('#save').on('click', function(){
    $(this).button('loading')
  });
});
</script>

{% endblock scripts %}