{% extends 'admin_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
  Profiles - MSU Alumni Admin
{% endblock title %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <img src="{% static 'images/cap.png' %}" height="75px" style="float:left; margin-right:8px; margin-top:24px"/>
      {% block header_content %}
      {% endblock header_content %}
    </div>    
  </header>
{% endblock header %}
{% block content %}
  <div class="container-fluid" style="min-height:500px">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      {% block side_nav %}
      {% endblock side_nav %}
    </ul>
  </div>
  <div class="col-sm-10" style="min-height:420px">
    {% block main_pane %}
      <div id="result">
        {% include 'results_table.html' %}
      </div>
    {% endblock main_pane %}
  </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/simple_search.js"></script>
  <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
{% endblock scripts %}