{% extends 'profiles/profiles_base.html' %}

{% block side_nav %}
	<li class="active"><a href="/admin/users">Users</a></li>
	<li><a href="/admin/groups">Groups</a></li>
{%endblock%}

{% block main_pane %}
<table class="table table-hover">
	<thead>
		<th>Short Name</th>
		<th>Email</th>
		<th>Status</th>
		<th>Date Joined</th>
	</thead>
	<tbody>
		{% for user in object_list %}
			<tr>
				<td>{{ user.get_short_name }}</td>
				<td>{{ user.email }}</td>
				<td>
		            {% if user.is_active %}
		            <span class="label label-success">Active</span>
		            {% else %}
		       		<span class="label label-danger">Inactive</span>
		          	{% endif %}
		        </td>
		        <td>{{ user.date_joined }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock main_pane %}