{% extends 'admin_base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{% load webdesign %}

{% block title %}
	News - MSU Alumni Administration
{% endblock title %}
{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/editor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap3-wysiwyg5.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-wysihtml5.css' %}">
{% endblock css %}
{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container"> 
	    <h1>
	    	Alumni News Archives
	    </h1>
    </div>
  </header>
{% endblock header %}

{% block content %}
<div class="container" style="min-height:500px">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a class="dropdown-toggle" type="button" data-toggle="dropdown">
			    Archives
			  </a>
			  <ul class="dropdown-menu" role="menu">
			    {% for year in years %}
			    	<li><a href="/news/archives/{{year}}">{{ year }}</a></li>
			    {% empty %}
			    	<li><a href="#">No Archives</a></li>
		    	{% endfor %}
			  </ul>
			</li>
			<li><a href="/news">News Feed</a></li>
		</ul>
	</div>
	<div class="col-md-10">
		<div>			
			{% if year %}
				{% for date in date_list %}
					<a href="/news/archives/{{date|date:'Y'}}/{{ date|date:'m' }}">{{ date|date:'F' }}</a>&nbsp;
				{% endfor %}
		    	<h1>All Articles for {{ year|date:"Y" }}</h1>
		    {% elif month %}
		    	<a href="/news/archives/{{ month|date:'Y' }}">Back to {{ month|date:'Y' }}</a>
		    	<h1>All Articles for {{ month|date:"F Y" }}</h1>
		    
		    {% endif %}
		    {% for obj in object_list %}
		        <label class="pull-left">{{ obj.pub_date|date:"F j, Y" }}</label>
		        <h4>&nbsp;
		        	<a href="/news/read/{{ obj.id }}">{{ obj.title }}</a>
		        	<small>posted by <strong>{{ obj.author }}</strong> at {{ obj.pub_date|date:'P' }}</small>
		        </h4> 
		    {% endfor %}
		</div>
	</div>
</div>
{% endblock content %}