{% extends 'admin_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load webdesign %}

{% block title %}
	News - MSU Alumni Administration
{% endblock title %}
{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/editor.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap3-wysiwyg5.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-wysihtml5.css' %}">
{% endblock css %}
{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container-fluid">
 
	    <h1>
	    	Add Article
	    	<small>Contribute a news article</small>
	    </h1>
    </div>
  </header>
{% endblock header %}

{% block content %}
<div class="container-fluid" style="height:500px">
	<div class="col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li><a href="#">News Feed</a></li>
			<li><a href="#">Categories</a></li>
			<li><a href="#">Archives</a></li>
		</ul>
	</div>
	<div class="col-md-10">
		<form method="POST" action="" role="form">
		{% csrf_token %}
		<div class="panel panel-default">
			<div class="panel-heading">
				
			</div>
			<div class="panel-body">
				{% bootstrap_form form %}
			</div>
			<div class="panel-footer">
				<span style="text-align: right">
					<button class="btn btn-primary" value="Create">Post</button>
				</span>
			</div>
		</div>
		</form>
	</div>
</div>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/wysihtml5-0.3.0.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap3-wysihtml5.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.hotkeys.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#editor').wysihtml5()
	})
	</script>
{% endblock scripts %}