{% extends 'admin/profiles_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
  Profiles - MSU Alumni Admin
{% endblock title %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <img src="{% static 'images/cap.png' %}" height="75px" style="float:left; margin-right:8px; margin-top:24px"/>
      {% include 'simple_search.html' %}
      <h1>
        Alumni Profiles
      </h1>
      <a href="/admin/profiles/add">
          <span class="glyphicon glyphicon-user"></span>
          Add profile
      </a>
      &nbsp;
      <a href="#" id="upload_csv" data-target="#upload_csv_modal" data-toggle="modal">
        <span class="glyphicon glyphicon-upload"></span>
        Add from csv file
      </a>
      {% include 'upload_csv_modal.html' %}
    </div>
  </header>
{% endblock header %}
{% block side_nav %}
  <li class="active"><a href="/admin/profiles">Profiles</a></li>
  <li><a href="/admin/profiles/requests">Request</a></li>
{% endblock side_nav %}
{% block scripts %}
  <script type="text/javascript" src="/static/js/simple_search.js"></script>
  <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
{% endblock scripts %}