{% extends 'admin/profiles_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
  Profiles - MSU Alumni Admin
{% endblock title %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <img src="{% static 'images/cap.png' %}" height="75px" style="float:left; margin-right:8px; margin-top:24px"/>
      <h1>
        Alumni Profile Requests
      </h1>

    </div>
  </header>
{% endblock header %}
{% block side_nav %}
  <li class="active"><a href="/admin/profiles/requests">Requests</a></li>
  <li><a href="/admin/profiles">Profiles</a></li>
{% endblock side_nav %}

{% block main_pane %}
  <table class="table table-hover">
    <thead>
      <th width="20px"><input type="checkbox" id="check-all"></th>
      <th>Name</th>
      <th>Degree, Year</th>
    </thead>
  {% for applicant in object_list %}
    <tr id="{{ applicant.alumni_id }}" class="alum-row">
    <td><input type="checkbox" class="selector" data-id="{{ applicant.alumni_id }}"></td>
    <td>{{ applicant }} </td>
    <td>
      {% for g in applicant.grad.all %}
        {{ g.program }}, {{ g.year }} <br>
      {% endfor %}
    </td>
    </tr>
  {% empty %}
    <div class="jumbotron">
      <h2>There are no requests to approve.</h2>
      <h2><small>Check again later.</small></h2>
    </div>
  {% endfor %}
  </table>
  <button class="btn btn-primary">Approve</button>
  <button class="btn btn-default">Deny</button>
  <div id="profile"></div>
{% endblock main_pane %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">

  </script>
{% endblock scripts %}