{% extends 'admin_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <h1>
        Alumni Events
      </h1>
      <h3>From the simplest to the grandest, you're invited.</h3>
    </div>
  </header>  
{% endblock %}

{% block content %}
	<div class="container" style="min-height:400px">
		<h2>{{ event.title }}</h2>
		<h4>
			<small>
			<strong>{{ event.venue }}</strong>;
			<strong>{{ event.date }}</strong>
			{% if event.time %}
				at {{ event.time | naturaltime }}
			{% else %}
				(No set time)
			{% endif %}
			<a href={% url 'admin-edit-event' id=event.id %}>Edit this event.</a>
			</small>
		</h4>
		<p>
			{{ event.description }}
		</p>
		<h5>
			{{ attendance }} alumni attending this event.
		</h5>
		{% if user.is_authenticated %}
			<button id="rsvp" data-loading-text="Processing..." class="btn btn-primary">RSVP</button>
			{% if not attendance %}
				Be the first!
			{% endif %}
		{% endif %}
		<br>
		<br>
		<a href="/events/upcoming">&laquo; Back to events</a>
	</div>
{% endblock content %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
	$('#rsvp').click(function(){
		$.ajax({
			type : 'post',
			url  : '/events/rsvp',
			data : {'id' : {{ user.id }},
					'event' : {{ event.id }},
					'csrftoken' : csrftoken
					},
			success : function(data){
				$('#rsvp').removeClass('btn-primary')
				$('#rsvp').addClass('btn-success')
				$('#rsvp').html('Reserved')
				
				alert('OK. Reserved')
				}
			})
	})
	</script>
{% endblock scripts %}