{% extends 'admin_base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load humanize %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <h2>
        Alumni Events
      </h2>
      <a href="/admin/events/add">
		<span class="glyphicon glyphicon-plus"></span>
			Add Event
		</a>
    </div>
  </header>  
{% endblock %}

{% block content %}
	<div class="container" style="min-height:400px">
		{% if object_list %}
			<div class="container col-md-10">
			
			<table class="table">
				<thead>
					<th>Event</th>
					<th>Date</th>
					<th>Venue</th>
				</thead>
				<tbody>
				{% for event in object_list %}
					<tr>
						<td><a href="/admin/events/details/{{ event.id }}">{{ event.title }}</a></td>
						<td>{{ event.date | naturalday }}</td>
						<td>{{ event.venue }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% if is_paginated %}
				<a href="/admin/events/upcoming">See all upcoming events</a>
			{% endif %}
		</div>
		{% else %}
			<h3>
				There are currently no upcoming events.<br>
				<small>Please check again later for updates.</small>
			</h3>		
		{% endif %}
		<div class="col-md-12">
		{% include 'events/browse_event_by_category.html' %}
		</div>
	</div>
{% endblock content %}
