{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load webdesign %}

{% block title %}
	News - MSU Alumni Administration
{% endblock title %}
{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
{% endblock css %}
{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
        <h1>Alumni News</h1>
    </div>
  </header>
{% endblock header %}

{% block content %}
<div class="container" style="min-height:500px">
	<div class="col-sm-2">
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a href="#">News Feed</a></li>
			<li><a class="dropdown-toggle" type="button" data-toggle="dropdown">
			    Archives
			  </a>
			  <ul class="dropdown-menu" role="menu">
			    {% for year in years %}
			    	<li><a href="/news/archives/{{year}}">{{ year }}</a></li>
			    {% empty %}
			    	<li><a href="#">No Archives</a></li>
		    	{% endfor %}
			  </ul>
			</li>
		</ul>
	</div>
	<div class="col-sm-10">
		<ul class="list-group">
			{% for article in object_list %}
			<li class="list-group-item">
				<h4 class="headline">
					<a href="read/{{ article.id }}" >
					{{ article.title }}
					</a>
				</h4>
				<small class="byline">
					by <b>{{ article.author }}</b>| <b>posted {{ article.pub_date }}</b> | <b>modified {{ article.date_modified }}</b>
				</small>
				<br>	
				{{ article.content | safe | truncatechars:140 }}
				<a href="read/{{ article.id }}" class="label label-primary">read more</a>
				
			</li>
			{% empty %}
				<h1>There are currently no posts to show.<br>
					<small>Please cheeck back later when we have content to show.</small>
				</h1>
			{% endfor %}			
		</ul>
	</div>
</div>
{% endblock content %}