{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link href={% static 'css/jquery.realperson.css' %} rel="stylesheet" type="text/css"/>
{% endblock css %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %})">
    <div class="container">
      <h1>
        Get Your Alumni ID
      </h1>
       <h4>
        Already have an ID?&nbsp;
        <a style="text-decoration: underline" href="/signup">Get Your Account Here</a>
      </h4>
      <h4>
        or&nbsp;<a style="text-decoration: underline" href="/login">Sign In Here</a> if you already have an account.
      </h4>
    </div>    
  </header>
  
{% endblock %}

{% block scripts %}
  {{ block.super }}
   <script type="text/javascript" src={% static 'js/jquery.plugin.js' %}></script>
  <script type="text/javascript" src={% static 'js/jquery.realperson.js' %}></script>
  <script type="text/javascript">
      $('#captcha_field').realperson();
      
     /* $('#request_form').submit(function(e){
        var form_data = $('#request_form').serializeArray()
        alert(form_data)
        $.ajax({
          url : '/accounts/register',
          data : form_data, 
          type : 'POST',
          success: function(data, status){
            $('#messages').html(data)
          },
          error: function(data, status){
            $('#messages').html(data)
          }
        })
        e.preventDefault()
      })*/
  </script>
{% endblock scripts %}

{% block content %}
  <div class="container">
  <div class="col-sm-4">
    {% for msg in form.error_messages %}
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Oops!</strong> {{ msg }}
      </div>
    {% endfor %}
    {% for msg in messages %}
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Success!</strong> {{ msg }}
      </div>
    {% endfor %}
    <form id="request_form" method="POST" action="/profiles/request" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}      
      <button id="submit" class="btn btn-danger" style="width:100%" type="submit">
        Submit
      </button>
    </form>      
  </div>
  <div class="col-sm-8">
    <h1>
      What's this for?
    </h1>
    <p>
      If you are an alumnus of Mindanao State University who already registered on our database, you should already have an Alumni ID. If you do not know your ID, please <a href="#">contact us</a>.
    </p>
    <p>
      However, MSU alumni who are not in the database, i.e. those who graduated before 1986 need to supply the information to the right for approval of the MSU Office on Alumni Relations. You will receive a verification email once your Alumni Profile is approved and you can proceed to creating an account for this site.
    </p>
    <p>
      Welcome home!
    </p>
  </div>  
  </div>
{% endblock content %}