{% extends 'portal.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block header %}
  <header style="background-image: url({% static 'images/slide1.jpg' %}); min-height:550px">
    <div class="container">
      
      <div class="col-sm-4">
        <h1>
          Sign Up
        </h1>
        <h4>Get an account on this portal to enjoy more features.</h4>
        <form method="post" action="admin/login">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-danger" style="width:100%">
            Submit
          </button>
        </form>      
        <h4>
          Already have an account?&nbsp;
          <a style="text-decoration: underline" href="#">Sign In Here</a>
        </h4>
        <h4>
          No Alumni ID?&nbsp;
          <a style="text-decoration: underline" href="/profiles/request">Get It Here</a>
        </h4>
      </div>
      <div class="col-sm-8">
        
      </div>
    </div>    
  </header>
  
{% endblock %}

{% block content %}
  
{% endblock content %}